@import "../../../../styles/index.scss";

.ClientsComments {
    @extend .section;
    @include reCenter;
    flex-direction: column;
  
    > .columns {
      margin-top: 52px;
      @include reCenter;
      max-width: 1408px;
    
      > .column {
        margin: 12px 64px;
        @media (min-width: 540px) and (max-width: 767px) {
          margin: 12px 24px;
        }
        @media (max-width: 539px) {
          margin: 12px;
        }
        padding: 0px 0px 24px 0px;
        min-width: 320px;
        height: 100%;
  
         > div > p {
          margin: 24px;
          white-space: normal;
  
        }
      }
    }
  }
  
// .ClientsComment {
// color: $dark;
// font-size: 1.05rem;

// @media (max-width: 767px) {
//     @include slantShadow(1px, 7px, 0.5);
// }

// > p > i {
//     font-size: 30px;
//     font-style: normal;
// }
// }