---
// Component Imports
import "../styles/index.scss"
import { Header, Footer, ClientsComments, Partners, Banner, HomeFirst, HomeSecond, HomeThree, HomeFour} from "../components/sections"

const meta = {
	lang: 'fr',
	title: "Acceuil",
	description: "Trouvez votre harmonie intérieure !",
}
---

<html lang={meta.lang}>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" href="favicon.svg" type="image/svg+xml" sizes="16x16" />
		<title>{meta.title}</title>
		<meta name="description" content={meta.description} />
	</head>
	<body>
		<Header client:visible />
		<>
			<Banner/>
			<HomeFirst/>
			<HomeSecond/>
			<HomeThree/>
			<HomeFour/>
			<ClientsComments/>
			<Partners/>
		</main>
		<Footer/>
	</body>
</html>
