@import "../../../../styles/base/index.scss";

.HomeThreeTitle {
    margin: 104px 0px;
}

.HomeColumns {
    margin: 104px 0px;
      
    @media (max-width: 767px) {
      margin: 52px 0px;
    }
}

.HomeColumn {
    @media (max-width: 767px) {
        padding-top: 32px;
        padding-bottom: 32px;
    }
}